# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Variables de entorno
.env

# Editores / IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Salidas de simulación / resultados generados
*.log
outputs/

# Webots
*.wbproj

node_modules/
